body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: aliceblue;
    color: darkcyan;
}

header {
    flex: 0 80px;
    background-color: darkcyan;
    color: aliceblue;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-container {
    float: right;
    text-align: right;
}

footer {
    flex: 0 30px;
    background-color: darkcyan;
    color: aliceblue;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
    text-align: right;
    margin-right: 20px;
}

.nav .nav-pills {
    display: flex;
    float: right;
}

.nav-pills .nav-link {
    display: flex;
    background-color: aliceblue;
    color: darkcyan;
    border: solid darkcyan;
}


.nav-pills .nav-link.active {
    display: flex;
    background-color: darkcyan;
    color: aliceblue;
    border: solid aliceblue;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}

.nav-link {
    color: aliceblue;
}

.btn {
    background-color: darkcyan;
    color: aliceblue;
    border: solid aliceblue;
}

.btn:hover {
    background-color: aliceblue;
    color: darkcyan;
    border: solid darkcyan;
}

.chats {
    margin: 0;
    padding: 0;
    width: 200px;
    overflow: auto;
    display: block;
    float: left;
    min-height: 100%;
    background-color: aliceblue;
    border-right: darkcyan;
    flex-grow: 1;
}

.chats div {
    display: block;
    color: darkcyan;
    padding: 16px;
    text-decoration: none;
  }

  .chats div.active-chat {
    background-color: darkcyan;
    color: aliceblue;
  }

.sent-chat {
    border: 2px solid #dedede;
    border-color: #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: right;
}

.received-chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.active-chat::after {
    content: "";
    clear: both;
    display: table;
}

.active-chat-wrapper {
    flex-grow: 9;
    margin: 2em;
}

.send-message-bar {
    float: right;
    text-align: right;
    
}


footer a {
    float: right;
    color: aliceblue;
}

@media (max-height: 600px) {
    header {
        display: none;
    }

    footer {
        display: none;
    }

    main {
        flex: 1 100vh;
    }
}

@media screen and (max-width: 700px) {
    .chats {
      width: 100%;
      height: auto;
      position: relative;
    }
    .chats a {float: left;}
    div.content {margin-left: 0;}
  }

@media screen and (max-width: 400px) {
    .chats a {
      text-align: center;
      float: none;
    }
  }